@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~react-toastify/scss/main';

#root {
    width: 100vw;
    height: 100vh;
}

.main-header .navbar-nav .nav-item .nav-link {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-nav > .user-menu .user-image {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0;
    margin-left: -8px;
}

// body {
//     margin: 0;
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
//         'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
//         'Helvetica Neue', sans-serif;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// code {
//     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//         monospace;
// }
// @import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
// body {
//     font-family: 'Poppins', sans-serif;
//     background: #fafafa;
// }
// .navbar {
//     padding: 15px 10px;
//     background: #fff;
//     border: none;
//     border-radius: 0;
//     margin-bottom: 40px;
//     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
//     margin-top: 15px;
// }

// .navbar-btn {
//     box-shadow: none;
//     outline: none !important;
//     border: none;
// }
